@import './global/global.css';
@import './home/header.css';
@import './global/tipografica.css';

.header-bg {
  height: 100vw;
  height: 100vh;
  background: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-bg h1 {
  font-size: 3rem;
}